.chart-bar {
  position: relative;
  margin-top: 25px;
}

.chart-bar__unit {
  margin-bottom: 0;
  color: #999;
  font-size: .75rem;
}

.chart-bar__y-step-line {
  fill: none;
  stroke: #ccc;
  stroke-width: 1;
}

.chart-bar__x-label,
.chart-bar__y-label {
  fill: #999;
  font-size: .75rem;
  transform: translateY(1rem);
}

.chart-bar__x-label {
  text-anchor: middle;
}

.chart-bar__series-bar {
  fill: none;
  stroke-width: 100px;
}

@media screen and (max-width: 1140px) {
  .chart-bar {
    margin-top: 1rem;
  }
  svg {
    width: 100%;
    height: auto;
  }
}
