body {
  margin: 0;
}

#app {}

#app .container {
  width: 100%;
  max-width: 1366px;
  margin-top: 3.5rem;
  margin-left: auto;
  margin-right: auto;
}

#app header {}

#app footer {
  padding-bottom: 3.5rem;
}
