body {
  color: #333;
  margin: 0;
}

#app {}

#app .container {
  width: 100%;
  max-width: 1140px;
  margin-top: 3.5rem;
  margin-left: auto;
  margin-right: auto;
}

#app .comb-tab-select {
  position: relative;
}

#app .comb-tab-select__select {
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  margin-top: 0;
  margin-bottom: 0;
}

#app .comb-tab-select select {
  min-width: 10rem;
  height: 2rem;
  font-size: 1rem;
  line-height: 2rem;
}

#app header {}

#app footer {
  padding-bottom: 3.5rem;
}

@media screen and (max-width: 1140px) {
  #app .container {
    width: auto;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-top: 2rem;
  }
  #app .comb-tab-select__select {
    display: flex;
    align-items: center;
    position: static;
    transform: none;
    margin-top: .5rem;
    margin-bottom: .5rem;
  }
  #app .comb-tab-select span {
    width: 20%;
  }
  #app .comb-tab-select select {
    width: 80%;
    height: 2rem;
    font-size: 1rem;
    line-height: 2rem;
  }
}
